<div class="navbar bg-base-300 shadow-sm w-full">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">🐙 Tamnoon Chat</a>
  </div>
  <div class="flex-none mx-2" hidden=@not-logged_in hidden>
    <div class="badge badge-soft badge-primary text-xl p-4">
        <span>
            Welcome, <span>@username</span>
        </span>
    </div>
  </div>
</div>